# Database (Supabase)
DATABASE_URL="postgresql://postgres:iOu7GT13W2%E@db.kskmyjptmfvyzcqcsusg.supabase.co:5432/postgres"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="de6c9e184d901f159a2a697daba1817e"

# Facebook OAuth (Meta Developer Console)
FACEBOOK_CLIENT_ID="779498718222028"
FACEBOOK_CLIENT_SECRET="23c26ff84419c1f4ac776b7e547c95fb"

# Google Gemini AI (free at aistudio.google.com)
GEMINI_API_KEY="AIzaSyCc51kQ9WMO59vUmMKjOr_V9hY6N73OJhg"


# Supabase Storage (instead of R2)
NEXT_PUBLIC_SUPABASE_URL="https://kskmyjptmfvyzcqcsusg.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtza215anB0bWZ2eXpjcWNzdXNnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5OTA5ODUsImV4cCI6MjA4OTU2Njk4NX0.0HhbufgGNm7-5P2y9YbQBU5rBLCB6-WSBS0f8hN6SPI"
SUPABASE_SERVICE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtza215anB0bWZ2eXpjcWNzdXNnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mzk5MDk4NSwiZXhwIjoyMDg5NTY2OTg1fQ.1MtXViBiAFP_wBnycCqLRxeSTcurNvoIXcWWKIC91Hs"

# Redis (Upstash)
REDIS_URL="https://casual-boxer-78351.upstash.io"
REDIS_TOKEN="gQAAAAAAATIPAAIncDIyMDg1OGUzYmNhNmI0NzA0YmU1YzE2YTk4YWExOWNhZHAyNzgzNTE"

# Socket.io server URL
NEXT_PUBLIC_SOCKET_URL="http://localhost:4000"

LLAMA_CLOUD_API_KEY="llx-LmGEeEBodHWbZH57DPMxXgHUHENsuwt0HwxfhYFWRRtYWqgb"